/* Global styles for Ant Design components */
body {
  font-family: 'Liber Baskerville'; /* Set global font */
  color: #322900; 
  margin: 0;
  padding: 0;
  
  /* Background image */
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; /* Ensure it acts as a reference for pseudo-element */

  &::before {
    content: ""; /* Required for pseudo-elements */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* Overlay color */
    background-color: rgba(255, 255, 255, 0.25); /* Adjust transparency as needed */
    
    /* Ensures it appears on top of the background */
    z-index: -1;
  }
}

body::before {
  content: ""; /* Required for pseudo-elements */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  /* Overlay color */
  background-color: rgba(255, 255, 255, 0.10); /* Adjust transparency as needed */
  
  /* Ensures it appears on top of the background */
  z-index: -1;
}

  
  /* Customizing AntD Buttons */
  .ant-btn-primary {
    background-color: rgba(20, 130, 0, 0.65); /* Semi-transparent background */
    color: white;
    border-radius: 8px;
    font-family: 'Concert One';
  }
  
  /* Customizing AntD Titles */
  .ant-typography {
    font-family: 'Playfair Display'; /* Custom font for titles */
    font-size: 400%;
    color: #306a1d; 
  }
  
  /* Customizing AntD Input fields */
  .ant-input {
    border-radius: 4px;
    border: 1px solid #ddd; /* Light border color */
  }
  
  /* Customize AntD Dropdown menu */
  .ant-dropdown-menu-item {
    font-family: 'Libre Baskerville';
    color: #ddd;
  }
  
  .ant-dropdown-menu-item:hover {
    background-color: #f0f0f0;
  }
  
  /* Customize AntD links */
  .ant-typography a {
    color: #1890ff; /* Link color */
    text-decoration: none;
  }
  
  .ant-typography a:hover {
    text-decoration: underline;
  }
  